* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

#audiotag {
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: -2.2%;
}

input[type="range"] {
  -webkit-appearance: none; /* Remove default styles in Safari/Chrome */
  width: 100%; /* Set the width to fill its container */
  height: 3px; /* Set the height to control the thickness of the track */
  background: #fff; /* Set the background color of the track */
  border-radius: 5px; /* Optional: Set border-radius for rounded corners */
  outline: none; /* Remove default focus style */
}

/* Customize the appearance of the thumb (slider handle) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styles in Safari/Chrome */
  width: 15px; /* Set the width of the thumb */
  height: 15px; /* Set the height of the thumb */
  background: #9794ff; /* Set the background color of the thumb */
  border: 1px solid white;
  border-radius: 50%; /* Optional: Create a circular thumb */
  cursor: pointer; /* Set cursor style */
}

#dragger[type="range"] {
  -webkit-appearance: none; /* Remove default styles in Safari/Chrome */
  width: 100%; /* Set the width to fill its container */
  height: 3px; /* Set the height to control the thickness of the track */
  background: #9794ff40; /* Set the background color of the track */
  border-radius: 5px; /* Optional: Set border-radius for rounded corners */
  outline: none; /* Remove default focus style */
  cursor: pointer;
}

#dragger[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styles in Safari/Chrome */
  width: 15px; /* Set the width of the thumb */
  height: 15px; /* Set the height of the thumb */
  background: #ffffff; /* Set the background color of the thumb */
  border: 1px solid #9794ff;
  border-radius: 50%; /* Optional: Create a circular thumb */
  cursor: pointer; /* Set cursor style */
}

#timerhover {
  position: absolute;
  background-color: #9794ff;
  color: white;
  top: -40%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 0.2rem;
  cursor: pointer;
  visibility: hidden;
}

.timertime {
  font-size: clamp(0.5rem, 1.2rem, 0.8rem);
  color: #ffffff;
  top: 45%;
  right: 0.7%;
  position: absolute;
}

/* Style for the clear button in the search input */
input[type="search"]::-webkit-search-clear-button,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  background-image: url("path/to/your/custom-clear-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-right: 8px; /* Adjust margin as needed */
}

/* Optional: Style the search input itself */
input[type="search"] {
  backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(4px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding-right: 24px; /* Adjust padding to make space for the clear button */
  color: white; /* Text color */
}

/* Standard style for Firefox */
input[type="search"]::-ms-clear {
  display: none;
}

@keyframes playerAnimation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(1%);
  }
}

@keyframes searchResultsShow {
  0% {
    @apply absolute h-[0%] w-[0%] z-10 top-[10%] rounded-md flex justify-start items-start p-1 flex-wrap;
  }
  50% {
    @apply absolute h-[10%] w-[80%] z-10 top-[10%] rounded-md flex justify-start items-start p-1 flex-wrap;
  }
  100% {
    @apply absolute h-[70%] w-[80%] z-10 top-[10%] rounded-md flex justify-start items-start p-1 flex-wrap;
  }
}
@keyframes searchResultsClose {
  0% {
    @apply absolute h-[70%] w-[80%] z-10 top-[10%] rounded-md flex justify-start items-start p-1 flex-wrap;
  }
  50% {
    @apply absolute h-[10%] w-[80%] z-10 top-[10%] rounded-md flex justify-start items-start p-1 flex-wrap;
  }
  100% {
    @apply absolute h-[0%] w-[0%] z-10 top-[10%] rounded-md flex justify-start items-start p-1 flex-wrap;
  }
}

/**insection observer animaton**/
.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --def-color: #9794ff;
}

@layer base {
  body {
    box-sizing: border-box;
    margin: 0;
  }
  .home-con {
    @apply h-lvh w-lvw bg-black flex overflow-x-hidden overflow-y-auto;
  }
}

/**Nav Bar**/
@layer base {
  #nav-bar {
    @apply w-[100%] h-[10%] m-0 p-0 top-0 flex items-center mb-10 py-1;
  }

  .searchbox {
    @apply w-auto flex items-center ml-[10%] relative;
  }

  .searchbar {
    @apply outline-none text-white flex pl-6 rounded-md pt-[2%] pb-[2%] mt-[3%];
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .searchresults1 {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
    animation: searchResultsShow 1s infinite 0.1s;
    overflow-x: hidden;
    overflow-y: scroll;
    left: 10%;
  }
  .searchresults2 {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
    @apply absolute h-[70%] w-[80%] z-10 top-[10%] rounded-md flex justify-start items-start p-1 flex-wrap;
    overflow-x: hidden;
    overflow-y: scroll;
    left: 10%;
  }

  .searchresults3 {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
    animation: searchResultsClose 1s infinite;
    overflow-x: hidden;
    overflow-y: scroll;
    left: 10%;
  }

  .cross {
    @apply absolute text-xl top-5 right-2;
    color: rgba(255, 255, 255, 0.125);
  }

  .searchresults2 > div {
    @apply h-[50%] w-[40%]  mx-5 my-2 mt-10 text-white;
  }
  .searchresults2 > div > div {
    @apply h-[90%] w-full  mb-5;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .searchresults2 > div > div > div {
    @apply h-auto w-full  p-0 flex flex-col justify-center items-center my-2;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .songs-search {
    @apply w-[80%] my-2  text-white py-3 px-5 flex justify-start items-center rounded-md cursor-pointer relative;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
    overflow: hidden;
  }

  #songs-logo-search {
    @apply h-[20%!important] w-[5%!important] absolute top-3;
  }

  .songs-search > p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: clamp(0.6rem, 1.2vw, 1rem);
    max-width: 60%;
  }
}

/** Dragger Component*/

@layer base {
  #dragger {
    @apply absolute top-0;
  }
}

/**Home Component**/

@layer base {
  .home-sidebar {
    @apply w-[15%] border-solid border-2 border-[#9794FF] p-2 border-l-0 border-t-0 border-b-0;
  }

  .home-sidebar > div {
    @apply flex justify-center items-center;
  }

  .logoimage-con {
    @apply w-[25%];
  }

  .logoimage-con > img {
    @apply max-w-[100%] block;
  }

  .home-sidebar > div {
    @apply flex justify-around items-center mt-5 mb-10;
  }

  .home-sidebar > div > span {
    @apply text-[#9794ff] w-[70%];
    font-family: "Protest Revolution", sans-serif;
    font-size: clamp(0.7rem, 1.7vw, 2rem);
  }

  .home-page {
    @apply h-full w-[85%] border-solid  overflow-x-hidden overflow-y-scroll relative pb-[10%];
    background-image: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.7),
      #3a3a4b,
      #9794ff
    );
  }

  .home-page > h1 {
    @apply text-white capitalize ml-5 font-thin;
    font-size: clamp(1rem, 2vw, 2rem);
    letter-spacing: 0.15rem;
  }

  .hidden1 {
    display: none !important;
  }

  .tiltcon {
    opacity: 0;
    transform: translateY(20vh);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 3%;
    transition: all linear 0.3s;
  }

  .songs {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 20%;
    border-radius: 0.3rem;
    margin: 2%;
    cursor: pointer;
    min-width: 20%;
    max-width: 20%;
  }

  .fade-in {
    animation: fadeInAnimation 1.5s ease forwards;
  }

  @keyframes fadeInAnimation {
    from {
      opacity: 0;
      transform: translateY(20vh);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .songs-logo-con {
    @apply w-[15%]  absolute top-[5%] left-[5%];
  }

  .songs-logo-con > img {
    @apply max-w-[100%] block;
  }

  .song-inside-con {
    @apply w-full p-3;
  }
  .song-inside-con > img {
    @apply max-w-[100%] block rounded-sm;
  }

  .songs > p {
    @apply mt-[1%] mb-[5%] overflow-hidden whitespace-nowrap text-ellipsis max-w-[100%] text-white ml-[8%] max-w-[85%];
  }

  .home-page > div::-webkit-scrollbar {
    display: none;
  }

  .songs > button {
    @apply absolute bottom-5 right-5 text-[var(--def-color)];
  }

  .songs-button {
    @apply hidden;
  }

  .songs:hover .songs-button {
    @apply inline absolute bottom-5 right-5 text-[var(--def-color)];
  }

  #player1 {
    display: none;
  }

  #player {
    @apply w-[85%] bottom-0 fixed flex flex-row justify-start items-center;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
    animation: playerAnimation 0.5s linear;
  }

  .playerimage {
    width: 6.5%;
    margin: 1% 0%;
    @apply cursor-pointer;
  }

  .playerimage > img {
    @apply max-w-[100%] block;
  }

  #player > div {
    @apply ml-5;
  }

  #player > div > h4 {
    @apply text-white  font-semibold m-0  max-h-8  text-ellipsis overflow-hidden whitespace-nowrap cursor-pointer;
    width: 20vw;
    font-size: clamp(0.6rem, 1.5vw, 1.2rem);
  }
  #player > div > p {
    @apply text-white   max-h-8 text-ellipsis overflow-hidden whitespace-nowrap cursor-pointer;
    width: 20vw;
    font-size: clamp(0.4rem, 1vw, 0.9rem);
  }

  .player-box {
    width: 35%;
    @apply flex justify-around items-center;
  }

  .player-box > button {
    @apply text-[var(--def-color)]  text-2xl;
  }
  .volume-box {
    width: 20%;
    @apply mt-2 flex justify-around items-center border-solid relative;
  }

  .volume-box > button {
    @apply text-[var(--def-color)]  text-2xl;
  }

  #volumeControl {
    width: 70%;
  }
  .range-value {
    position: absolute;
    color: #fff;
    top: -2vw;
    left: 25%;
    width: 70%;
    font-size: clamp(0.7rem, 1.5vw, 1rem);
  }
}

/**Selected Song**/
@layer base {
  .selectedBackGround {
    @apply fixed top-0 left-0 right-0 bottom-0 flex flex-col justify-start items-start;
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border: 2px solid red;
  }

  .selectedSongCon {
    @apply relative w-[70%] flex max-h-[70%] flex-wrap overflow-x-hidden overflow-y-scroll rounded-lg self-center ml-[10%] mt-[2.5%];
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
}

/**Albums**/

@layer base {
  .album-header {
    @apply w-full text-white p-3 flex justify-start items-center relative;
  }

  #allbum-image-con {
    @apply w-[25%] ml-[10%] mr-[5%];
  }

  #allbum-image-con > img {
    @apply max-w-[100%] block rounded-md;
  }

  .album-header > div > h1 {
    @apply mb-[3%] mt-[5%];
    font-size: clamp(1.5rem, 3.2vw, 3rem);
  }
  .album-header > div > h4 {
    @apply ml-[2%] mb-[5%] w-[100%];
    font-size: clamp(0.5rem, 1.1vw, 1rem);
  }
  .album-details {
    @apply w-[40%];
  }

  .album-details > div {
    @apply flex justify-start items-center;
  }

  .album-details > div > button {
    @apply text-black py-[5.5%] ml-[2%] rounded-[50%] flex justify-center items-center px-[6%];
    background-color: var(--def-color);
    color: #3a3a4b;
    font-size: clamp(0.7rem, 2.2vw, 2rem);
  }
  .album-details > div > button:last-child {
    @apply bg-transparent;
  }
  .album-details > div > button:last-child > svg {
    color: var(--def-color);
  }

  .album-songs {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important; /* Enable vertical scrolling when needed */
  }

  .album-songs > div {
    height: auto;
    width: 100%; /* Ensure each div occupies the full width */
    box-sizing: border-box; /* Include border in width calculation */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1% 0%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 0.5rem;
    cursor: pointer;
    color: white;
  }
  .album-songs > div > img {
    @apply w-[6%] block m-3 rounded-md;
  }
  .album-songs > div h3 {
    font-size: clamp(0.7rem, 1.4vw, 1.25rem); /* Equivalent to text-2xl */
    margin-left: 1.25rem; /* Equivalent to ml-5 */
    margin-right: 2.5rem; /* Equivalent to mr-10 */
    width: 35%; /* Equivalent to w-[20rem] */
    text-overflow: ellipsis;
    white-space: nowrap; /* Adjusted to nowrap for ellipsis to work */
    overflow: hidden;
  }

  .album-songs > div p {
    font-size: clamp(0.6rem, 1.2vw, 1rem); /* Equivalent to text-2xl */
    margin-left: 5rem; /* Equivalent to ml-5 */
    margin-right: 5rem; /* Equivalent to mr-10 */
    width: 35%; /* Equivalent to w-[20rem] */
    text-overflow: ellipsis;
    white-space: nowrap; /* Adjusted to nowrap for ellipsis to work */
    overflow: hidden;
    text-align: left;
  }

  .album-songs > div p:last-child {
    font-size: clamp(0.6rem, 1.2vw, 1rem); /* Equivalent to text-2xl */
    margin-left: 5rem; /* Equivalent to ml-5 */
    margin-right: 5rem; /* Equivalent to mr-10 */
    width: 35%; /* Equivalent to w-[20rem] */
    text-overflow: ellipsis;
    white-space: nowrap; /* Adjusted to nowrap for ellipsis to work */
    overflow: hidden;
    text-align: right;
  }
  .album-songs > div button {
    @apply mr-[-10%] ml-[10%];
  }
}
